@font-face {
  font-family: "static";
  src: url("/assets/fonts/static/TASAExplorer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "static";
  src: url("/assets/fonts/static/TASAExplorer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "static";
  src: url("/assets/fonts/static/TASAExplorer-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "static";
  src: url("/assets/fonts/static/TASAExplorer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "static";
  src: url("/assets/fonts/static/TASAExplorer-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "static", "Source Sans Pro", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
